gwa/src/main/webapp/schema/article.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="www.ArticleSchema.com"
            xmlns="www.ArticleSchema.com"
            elementFormDefault="qualified">

    <xsd:element name="article">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="title" type="xsd:string"/>
                <xsd:element name="content" type="xsd:string"/>
                <xsd:element name="category" type="xsd:string"/>
                <xsd:element name="thumbImage" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>